.login {
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid black;
  text-align: center;
  box-shadow: 5px 10px 8px 10px #030304;
}

.loginDescription {
  color: rgb(214, 228, 231);
  text-align: center;
  margin-top: 5%;
}

.loginButton {
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0, 255, 89, 0.636);
  border: none;
  color: #000000;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 120px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
}

.loginButton:hover {
  background-color: rgb(0, 255, 89);
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

.input:focus {
  outline: none;
  border-color: #0be0b5;
  box-shadow: 0 0 5px #0be0b5;
}


.text {
  font-size: 18px;
  font-weight: bold;
  color: #000000d9;
}
