.description {
  color: rgb(214, 228, 231);
  text-align: center;
}

.status {
  color: rgb(0, 255, 89);
}

.status-on {
  color: rgb(0, 255, 89);
}

.status-off {
  color: rgb(168, 30, 30);
}

.player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.control-button:hover {
  transform: scale(1.2);
}

svg {
  font-size: 24px;
  color: #000;
}
